#form {
    width: 500px;
}

.btn {
    margin: 50px 0;
}

label {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}


input {

    display: flex;
    flex-direction: column;
    align-self: baseline;
    width: 200px;
    height: 30px;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: px;
    height: 13px;
}

span {
    color: red;
}